*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: auto;
    background: #7AC367;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #b8cf77, #7AC367);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #b8cf77, #7AC367); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */   
}

.contenedor{

    padding-top: 80px;
    padding-bottom: 80px;

    width: 70%;
    margin: 30px auto;
    display: grid;
    grid-gap: 50px;

    grid-template-columns: repeat(3, 1fr);
}


.contenedor > div, .contenedor > .box1, .contenedor > .box2,
.contenedor > .box3{
    padding: 15px;
    border-radius: 4px;
    text-align: center;
    justify-content: center;
    background: #fff;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}



.post-img-1{
    background: url(post.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-img-2{
    background: url(post2.jpg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-img-3{
    background: url(post3.jpeg);
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post{
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .2s;
    background: #fff;
}

.post:hover{
    transform: translateY(-4px);
    box-shadow: 0 1px 14px 2px rgba(0, 0, 0, .15);

}

.post-header{
    width: 100%;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
}

.post:hover .post-img-1,
.post:hover .post-img-2,
.post:hover .post-img-3{
    transform: scale(1.1);
}

.post-body{
    padding: 15px;
    text-align: center;
}

.post-body span{
    display: inline-block;
    color: #999;
    margin-bottom: 10px;
}

.post-body h2{
    margin-bottom: 15px;
}

.post-body p{
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: justify;
}

.post-body .post-link{
    display: block;
    text-decoration: none;
    padding: 10px;
    background: #31b189; 
    color: #fff;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .1);
    transition: .2s;
}

.post-body .post-link:hover{
    background: #3378c7;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .2);
    transform: translateY(-2px);
}

@media(max-width: 840px){
    .content{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 600px){
    .content{
        grid-template-columns: repeat(1, 1fr);
    }
}
